.content{
    background: rgb(160, 160, 160);
    padding: 3em;
}

.highlight {
    -webkit-box-shadow: 0 0 8px #FFD700;
    -moz-box-shadow: 0 0 8px #FFD700;
    box-shadow: 0 0 8px #FFD700;
    background-color: #000000;
    color: #ffff00;

    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.country {
    cursor:pointer;
}